@font-face {
    font-family: 'proxima-nova';
    /*src: url('../font/ProximaNovaCond-Regular.ttf');*/
    /*src: url('../font/ProximaNovaCond-Regular.ttf');*/
    src: url('../font/ProximaNovaBold.otf');
}

@font-face {
    font-family: 'VNFutuna-Bold';
    /*src: url('../font/ProximaNovaCond-Regular.ttf');*/
    /*src: url('../font/ProximaNovaCond-Regular.ttf');*/
    src: url('../font/SFUFuturaBold.ttf');
}
@font-face {
    font-family: 'Helvetica-Light';
    /*src: url('../font/ProximaNovaCond-Regular.ttf');*/
    /*src: url('../font/ProximaNovaCond-Regular.ttf');*/
    src: url('../font/helveticaneuelight.ttf');
}

body header a{
    text-transform: uppercase;
}
.main-nav li a{
    font-family: VNFutuna-Bold !important;
    text-transform: uppercase;
    font-size: 19px;
    color: #8c8989c2;
}
.trans-nav li a {
    font-family: VNFutuna-Bold !important;
    text-transform: uppercase;
    font-size: 11px;
    margin-right: 15px;
    color: #8c8989c2;
}
h1,h2,h3{
    font-family: VNFutuna-Bold !important;
}
.site-nav [data-content-field="site-title"]{
    font-family: VNFutuna-Bold !important;
}
main .publish-date{
    font-family: Helvetica-Light !important;
}
main .item-title,.post-title,.image-title.sqs-dynamic-text p{
    font-family: VNFutuna-Bold !important;
}
main a,td,p{
    font-family: Helvetica-Light !important;
}
.trans-nav{
    margin-top: -10px !important;
}

  .content p{
    width: 700px;
    line-height: 26px;
    font-size: 18px;
    text-align: justify;
  }
  
  .cursor{
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid #605b5b;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .1s;
  }
  
  .cursor2{
    position: fixed;
    width: 8px;
    height: 8px;
    background-color: #605b5b;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .15s;
  }
  
  .content:hover ~ .cursor{
    transform: translate(-50%, -50%) scale(1.5);
    background-color: #c6c6c6;
    opacity: .5;
  }
  
  .content:hover ~ .cursor2{
    opacity: 0;
  }
