@font-face {
    font-family: 'proxima-nova';
    /*src: url('../font/ProximaNovaCond-Regular.ttf');*/
    /*src: url('../font/ProximaNovaCond-Regular.ttf');*/
    src: url('../font/ProximaNovaBold.otf');
}

@font-face {
    font-family: 'VNFutuna-Bold';
    /*src: url('../font/ProximaNovaCond-Regular.ttf');*/
    /*src: url('../font/ProximaNovaCond-Regular.ttf');*/
    src: url('../font/SFUFuturaBold.ttf');
}
@font-face {
    font-family: 'Helvetica-Light';
    /*src: url('../font/ProximaNovaCond-Regular.ttf');*/
    /*src: url('../font/ProximaNovaCond-Regular.ttf');*/
    src: url('../font/helveticaneuelight.ttf');
}

body header a{
    text-transform: uppercase;
}
.main-nav li a{
    font-family: VNFutuna-Bold !important;
    text-transform: uppercase;
    font-size: 26px;
}
.trans-nav li a {
    font-family: VNFutuna-Bold !important;
    text-transform: uppercase;
    font-size: 11px;
    margin-right: 15px;
}
h1,h2,h3{
    font-family: VNFutuna-Bold !important;
}
.site-nav [data-content-field="site-title"]{
    font-family: VNFutuna-Bold !important;
}
main .publish-date{
    font-family: Helvetica-Light !important;
}
main .item-title,.post-title{
    font-family: VNFutuna-Bold !important;
}
main a,td,p{
    font-family: Helvetica-Light !important;
}
